@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center; /*pag. 25 caderno*/
    background-size: cover; /*pag. 25 caderno*/
    background-attachment: fixed; /*pag. 25 caderno*/
}

main {
    position: relative; /*para conseguir organizar melhor a centralização.pag. 26 caderno*/
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); /*pag. 26 caderno*/


    height: 627px; /*ver tamanho da foto que vai utilizar*/
    width: 311px; /*ver tamanho da foto que vai utilizar*/
    background-color: blue; /*só para entender o posicionamento*/
    background: url(../imagens/frame-iphone.png)no-repeat; /*pag. 25 caderno*/
}

iframe#tela { /*enquandrar o iframe na ela do celular*/
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais > a > img {
    width: 60px;
    margin: 10px;
    border-radius: 50%; /* 50% transforma em redondo*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.356);
    box-sizing: border-box; /*a borda tem o tamanho da caixa, não fica para fora*/
}

section#redes-sociais > a > img:hover {
    border: 2px solid white;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.459);
    transition: transform .3s, border 1s;
}